# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/aws.xml
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
pom.xml
src/
