<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--map:    <String,Object> -->
    <!--map:    "student"   Student对象   -->
    <!--如果不配置 scope="prototype"则所有的都是同一个Student实例（单例）-->
    <!--ref表示引入spring容器中的另一个托管bean-->
    <bean id="student" class="test0.t01.Student">
        <!--DI  依赖注入-->
        <property name="id" value="100"></property>
        <property name="name" value="张三"></property>
        <property name="sex" value="男"></property>
        <property name="address" ref="address"></property>
    </bean>


    <bean id="address" class="test0.t01.Address">
        <property name="province" value="湖南省"></property>
        <property name="city" value="衡阳市"></property>
    </bean>


</beans>
